<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF" monitorInterval="30">

    <appenders>
        <RollingFile name="RollingFile" fileName="Logs/chat.log"
                     filePattern="Logs/chat-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %C.%M %L - %m%n"/>
            <SizeBasedTriggeringPolicy size="500 MB"/>
            <DefaultRolloverStrategy max="500"/>
        </RollingFile>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %C.%M %L - %m%n"/>
        </Console>
    </appenders>
    <loggers>
        <root level="INFO">
            <appender-ref ref="RollingFile"/>
            <appender-ref ref="Console"/>
        </root>
    </loggers>
</configuration>